//colors
$heading-color: #3367D6;
$font-heading: #f3f3f3;
$font-color: #090909;
$section-color: #8ba9e4;
$button-color: #2850A7;
$hover-nav-color: #002828;
$section-Body-color: #CED9DA;
$footer-color: #E2E2E2;